## Query to search first 100 tweets per User ID

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('PoliticalUsernames.csv')
df.head(5)

                    id               name         username party
0           2916086925    Rep. Alma Adams         RepAdams     D
1             76452765    Robert Aderholt  Robert_Aderholt     R
2           3018670151  Rep. Pete Aguilar   RepPeteAguilar     D
3  1612483604071727104        Mark Alford    RepMarkAlford     R
4           2964287128      Rick W. Allen     RepRickAllen     R

In [7]:
import tweepy

In [ ]:
# Replace these with your own credentials
bearer_token =

In [12]:
import time
import json

In [27]:
# List of user IDs
user_ids = df['id'].tolist()

#Try with only two Users
user_ids = user_ids[3:]
len(user_ids)

423

In [28]:
# get the latest tweet for a user ID, handling errors and rate limits
def get_latest_tweet(user_id):
    while True:
        try:
            client = tweepy.Client(bearer_token=bearer_token)
            response = client.get_users_tweets(id=user_id, tweet_fields=["text"], max_results=23)
            tweets = response.data
            if tweets:
                return list(tweet.text for tweet in tweets)
                # return tweets.text  # Return the first (latest) tweet
            else:
                return None  # No tweets found
        except Exception as e:
            if e.response.status_code == 429:  # Rate limit reached
                print("Rate limit reached. Retrying in 15 minutes...")
                time.sleep(60 * 15)
            else:
                raise e  # Re-raise other errors

# Extract tweets and save to a JSON file
all_tweets = []
for user_id in user_ids:
    tweet = get_latest_tweet(user_id)
    if tweet:
        all_tweets.append({"user_id": user_id, "tweet": tweet})

with open("tweets.json", "w") as f:
    json.dump(all_tweets, f, indent=4)

print("Tweets saved to tweets.json")

Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Rate limit reached. Retrying in 15 minutes...
Tweets saved to tweets.json

In [ ]:
%pwd